body{
  margin: 0;
  padding: 0;
  background-color: rgba(61, 43, 226, 0.815);
  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  color: #fff;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.row{
  margin-top: .5rem;
}

.btn-content{
  text-align: center;
}