form{
  width: 80%;
  background-color: rgba(72, 58, 202, 0.747);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

form label{
  color: #fff;
  margin-top: .5rem;
}

input,select {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  border-radius: 5px;
  padding: .4rem 0;
  text-align: center;
  color: #555;
  border: none!important;
}