body{
  margin: 0;
  padding: 0;
  background-color: rgba(61, 43, 226, 0.815);

  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  color: #fff;
}

hr{

  border-top: 1px solid rgba(164, 163, 177, 0.815);

}

.container{
  width: 90%;
  margin: 0 auto;
}
.content-grid{
  display: grid;
  grid-template-columns: 250px auto;
}

div.row{
  margin-top: .5rem;
}


table,
#tabelaDeEventos_length,
#tabelaDeEventos .dataTable,
#tabelaDeEventos_filter,
.dataTables_info,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
#tabelaDeEventos_paginate a{
  color: #fff!important;
}

#tabelaDeEventos_paginate span a{
  background-color: #4d40d1!important;
}

#tabelaDeEventos{
  background-color: #4d40d1;
}

#tabelaDeEventos tbody tr:nth-child(2n){
  background-color: rgba(128, 120, 199, 0.842);
}

#tabelaDeEventos tbody tr:nth-child(2n+1){
  background-color: rgba(79, 72, 148, 0.46);
}

#tabelaDeEventos tbody tr:hover{
  background-color: rgba(199, 193, 252, 0.753);
}

table{
  width: 100%;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #392dbb!important;
  border-radius: 5px;
}

tbody{
  border-spacing: 0;
  border-collapse: collapse;
}

tbody td{
  border:none
}

form{
  width: 80%;
  background-color: rgba(72, 58, 202, 0.747);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  
}

form label{
  color: #fff;
  margin-top: .5rem;
}

input,select {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  border-radius: 5px;
  padding: .4rem 0;
}

placeholder{
  color: #999;
}

button {
  margin: .3rem 0;
  padding: .4rem 1rem;
  border-radius: 4px;
  background-color: rgba(70, 60, 156, 0.733);
  color: #fff;
  border: none;
  transition: all 300ms;
}

.btn-content{
  text-align: center;
}

button:hover{
  background-color: rgba(37, 23, 160, 0.733);
}