@import 'geral.css';
@import 'form.css';
@import 'table.css';


hr{
  border: .4px solid cornflowerblue;
}

.img-banner{
  width: 150px;
  height: auto;
}

button {
  margin: .3rem 0;
  padding: .4rem 1rem;
  border-radius: 4px;
  background-color: rgba(36, 28, 105, 0.733)!important;
  color: #fff;
  border: none;
  transition: all 300ms;
}

button:hover{
  background-color: rgba(29, 14, 165, 0.808)!important;
}

.content-grid{
  display: grid;
  grid-template-columns: 250px auto;
}

@media only screen and (max-width: 1000px) {
  .content-grid{
    grid-template-columns: 1fr;
  }
}